<a href="https://colab.research.google.com/github/2303A51430/PDS_1430-B-10-/blob/main/ASS_5(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

teachers = pd.DataFrame({
    "teacher_id": [1, 2, 3, 4, 5],
    "teacher_name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "department": ["Math", "Science", "Math", "Computer Science", "Science"]
})

courses = pd.DataFrame({
    "course_id": [101, 102, 103, 104, 105, 106, 107],
    "course_name": ["Algebra", "Biology", "Geometry", "Physics", "Programming", "Chemistry", "Data Structures"],
    "teacher_id": [1, 2, 1, 2, 4, 5, 4],
    "workload_hours": [40, 50, 35, 45, 60, 55, 65]
})

inner_merge = pd.merge(courses, teachers, on="teacher_id", how="inner")
left_merge = pd.merge(teachers, courses, on="teacher_id", how="left")

courses_per_teacher = courses.groupby("teacher_id").size()
avg_courses = courses_per_teacher.mean()

dept_workload = inner_merge.groupby("department")["workload_hours"].sum().reset_index()
teacher_workload = inner_merge.groupby("teacher_name")["workload_hours"].sum().reset_index()

print("Teachers Dataset:")
print(teachers, "\n")

Teachers Dataset:
   teacher_id teacher_name        department
0           1        Alice              Math
1           2          Bob           Science
2           3      Charlie              Math
3           4        David  Computer Science
4           5          Eva           Science

In [2]:
print("Courses Dataset:")
print(courses, "\n")

Courses Dataset:
   course_id      course_name  teacher_id  workload_hours
0        101          Algebra           1              40
1        102          Biology           2              50
2        103         Geometry           1              35
3        104          Physics           2              45
4        105      Programming           4              60
5        106        Chemistry           5              55
6        107  Data Structures           4              65

In [3]:

print("Inner Join (Courses assigned to Teachers):")
print(inner_merge, "\n")

Inner Join (Courses assigned to Teachers):
   course_id      course_name  teacher_id  workload_hours teacher_name  \
0        101          Algebra           1              40        Alice
1        102          Biology           2              50          Bob
2        103         Geometry           1              35        Alice
3        104          Physics           2              45          Bob
4        105      Programming           4              60        David
5        106        Chemistry           5              55          Eva
6        107  Data Structures           4              65        David

         department
0              Math
1           Science
2              Math
3           Science
4  Computer Science
5           Science
6  Computer Science

In [4]:
print("Left Join (All teachers with possible courses):")
print(left_merge, "\n")

Left Join (All teachers with possible courses):
   teacher_id teacher_name        department  course_id      course_name  \
0           1        Alice              Math      101.0          Algebra
1           1        Alice              Math      103.0         Geometry
2           2          Bob           Science      102.0          Biology
3           2          Bob           Science      104.0          Physics
4           3      Charlie              Math        NaN              NaN
5           4        David  Computer Science      105.0      Programming
6           4        David  Computer Science      107.0  Data Structures
7           5          Eva           Science      106.0        Chemistry

   workload_hours
0            40.0
1            35.0
2            50.0
3            45.0
4             NaN
5            60.0
6            65.0
7            55.0

In [5]:
print(f"Average courses per teacher: {avg_courses:.2f}\n")

Average courses per teacher: 1.75

In [6]:
print("Department-wise Total Workload (hours):")
print(dept_workload, "\n")

Department-wise Total Workload (hours):
         department  workload_hours
0  Computer Science             125
1              Math              75
2           Science             150

In [7]:
print("Teacher-wise Workload (hours):")
print(teacher_workload, "\n")

Teacher-wise Workload (hours):
  teacher_name  workload_hours
0        Alice              75
1          Bob              95
2        David             125
3          Eva              55